<template>
  <Window title="Bot Instagram powered by Iannacone Alessandro" width="500" height="500" margined v-on:close="exit">
    <Box>
      <Text>Inserisci le credenziali fornite alla registrazione del servizio</Text>
       <Box horizontal padded>
       <TextInput v-model="utente" stretchy></TextInput>
       <TextInput v-model="password" stretchy></TextInput>
       
       <Button @click="showWeather">Avvia</Button>
       </Box>
    
    
    </Box>

    
    


  </Window>
</template>

<script>
export default {
  
  
  
  
  
  
  methods: {
    


    exit() {
      this.$exit();
    }



  }

  




}
</script>
